:root {
  --primary-color: #7e00fd;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

p,
a {
  font-size: 1.8rem;
  color: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 2rem;
  width: 100%;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
/* nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  color: var(--primary-color);
  font-size: 2.8rem;
  flex-grow: 1;
}

nav ul {
  display: flex;
  color: #000;
  flex-grow: 2;
  justify-content: space-between;
}

nav ul a {
  font-size: 2rem;
}
nav .nav__btn {
  flex-grow: 1;
  text-align: right;
}

nav .nav__btn button {
  background-color: var(--primary-color);
  border: none;
  padding: 1.1rem 2.2rem;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 0.3rem;
}

@media screen and (max-width: 768px) {
  nav .nav__btn {
    display: none;
  }
}
/* end nav */

.hero {
  text-align: center;
  overflow-x: hidden;
}

.hero h2 {
  font-size: 3.2rem;
  line-height: 114.4%;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.hero p {
  font-size: 2rem;
  line-height: 129.4%;
  margin-bottom: 1.5em;
}

.hero__right-col img {
  position: relative;
  z-index: 2;
  margin-top: 5em;
}

/* features */
section.features {
  background-color: var(--primary-color);
  color: #fff;
  transform: skewY(12deg) translateY(-8em);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

section.features .container {
  transform: skewY(-12deg);
}

section.features ul {
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 5em 0 10em;
}

section.features .col {
  flex-basis: 30%;
  padding: 2rem;
}

.features__heading {
  display: flex;
  flex-direction: column;
  font-size: 2.6rem;
  gap: 0.4rem;
}

.features__heading img {
  width: 3.6rem;
}

.features__heading h3 {
  font-size: 2.9rem;
  margin: 0;
}

section.features .col p {
  line-height: 137.9%;
  font-size: 1.6rem;
}
/* end features */
/* start about */
.about {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.about h3 {
  font-size: 2.8rem;
  margin-bottom: 2.2rem;
  font-weight: lighter;
}

.about__col-left p {
  line-height: 164.5%;
  font-size: 1.6rem;
  padding: 2rem 0;
}

.about img.person {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 1.2rem;
}

/* end about */

footer {
  background-color: #ededed;
  padding-bottom: 3rem;
}

.footer__apps {
  display: flex;
  gap: 2rem;
}

.footer__links {
  padding: 2rem 0;
}

/* media queries Tablet */
@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
  }

  section.features {
    transform: skewY(7deg) translateY(-8em);
  }

  section.features .container {
    transform: skewY(-7deg);
  }

  .features .container ul {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .features .col {
    flex-grow: 1;
    padding: 2rem;
  }

  .about {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .about div {
    flex-grow: 1;
  }

  .about__col-left {
    width: 100%;
    max-width: 57rem;
  }

  .about__col-right {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
  }

  .about__col-right img.person {
    width: 17rem;
    align-self: self-start;
  }
}
